<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Role</title>
</head>
<style>
    th, td {
            border: 1px solid #555;
            padding: 8px;
            text-align: center;
        }
</style>
<body>
    {% for item, qty in stock.items() %}
    {% if qty > 0 %}
        <p>{{item}} is in stock</p>
    {% else %}
        <p>{{item}} is out of stock</p>
    {% endif %}
    {% endfor %}
</body>
</html>
