<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Role</title>
</head>
<style>
    th, td {
            border: 1px solid #555;
            padding: 8px;
            text-align: center;
        }
</style>
<body>
    <table>
        <caption>Student data</caption>
        <thead>
            <th>Name</th>
            <th>Marks</th>
        </thead>
        <tbody>
        {% for student in stock %}
            <tr>
                <td> {{student.name}} </td>
                <td> {{student.marks}} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>

Pass a dictionary of items and their stock quantity, e.g.: 
stock = {"Shirt": 20, "Shoes": 0, "Hat": 15} 
In the template, loop through the dictionary and display: 
• “Shirt is in stock” if quantity > 0 
• “Shoes is out of stock” if quantity = 0 