<!Doctype html>
<html lang="en">
	<head>
		<title>Patient Information</title>
		<style>	
			table{
			border: 1px solid black;
			margin: auto;
			text-align: center;
		}
		th, td{
			border: 1px solid black;
			width: 200px;
		}
		</style>
	</head>
	
	<body>
		<main>
			<table>
				<caption>Patient Information</caption>
				<thead>
					<th>Property</th>
					<th>Value</th>
				</thead>
				<tbody>
					<tr>
						<td>Patient ID</td>
						<td>{{li[0]}}</td>	
					</tr>
					<tr>
						<td>Patient Name</td>
						<td>{{li[1]}}</td>	
					</tr>
					<tr>
						<td>Patient Address</td>
						<td>{{li[2]}}</td>	
					</tr>
					<tr>
						<td>Patient Tel</td>
						<td>{{li[3]}}</td>	
					</tr>
					<tr>
						<td>Reference Doctor</td>
						<td>{{li[4]}}</td>	
					</tr>
					<tr>
						<td>Doctor Tel</td>
						<td>{{li[5]}}</td>	
					</tr>
					<tr>
						<td>Test Ordered</td>
						<td>{{li[6]}}</td>	
					</tr>
					<tr>
						<td>Date Blood Recieved</td>
						<td>{{li[7]}}</td>	
					</tr>
				</tbody>
			</table>
		</main>
	</body>
	<script>
	</script>
</html>
