<!Doctype html>
<html lang="en">
	<head>
		<title>Grading</title>
		<style>	
			table{
			border: 1px solid black;
			margin: auto;
			text-align: center;
		}
		th, td{
			border: 1px solid black;
			width: 200px;
		}
		</style>
	</head>
	
	<body>
		<main>
			<table>
				<caption>{{li[4]}} Bill</caption>
				<thead>
					<th>Property</th>
					<th>Value</th>
				</thead>
				<tbody>
					<tr>
						<td>Customer Number</td>
						<td>{{li[0]}}</td>	
					</tr>
					<tr>
						<td>Customer Name</td>
						<td>{{li[1]}}</td>	
					</tr>
					<tr>
						<td>Customer Gender</td>
						<td>{{li[2]}}</td>	
					</tr>
					<tr>
						<td>Customer Address</td>
						<td>{{li[3]}}</td>	
					</tr>
					<tr>
						<td>Meter Number</td>
						<td>{{li[4]}}</td>	
					</tr>
					<tr>
						<td>Meter Type</td>
						<td>{{li[5]}}</td>	
					</tr>
					<tr>
						<td>Customer Bill</td>
						<td>{{li[6]}}</td>	
					</tr>
				</tbody>
			</table>
		</main>
	</body>
	<script>
	</script>
</html>
